@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Spartan', sans-serif;
}